#--- 根目录文件 ---
composer.json

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
composer.phar


#--- 目录 ---
vendor/
web/log/


#--- 文件 ---
app/config.php
docs/pull.bat
web/js/jquery-3.3.1.js
