<?php
/**
 * 项目固定绝对唯一目录
 */
defined('BASE_DIR') OR define('BASE_DIR', __DIR__ . '/..');
defined('VENDOR_DIR') OR define('VENDOR_DIR', __DIR__ . '/../vendor');
# define('VENDOR_DIR', realpath(__DIR__ . '/..'));

return [
	'_route' => [
		[['GET', 'POST', 'PUT'], '/[index]', '/index/index'],
		['GET', '/search', '_module/_controller/search']
	],
	'database' => array(
		'adapter' => 'Medoo',
		'driver' => 'mysql',
		'host' => 'localhost',
		'port' => 3306,
		# 'db_name' => 'com_urlnk',
		'user' => 'root',
		'password' => '',
	),
	'view' => [
		'cdn_host' => 'https://urlnk.cc',
	],
	'var' => [
		'robot_host' => 'http://robot.lan.urlnk.com',
		'url_shortening' => 'http://cpn.red',
	],
	'session' => [
		'enable' => true,
	],
	'date' => [
		'timezone' => 'Asia/Shanghai',
	],
	'func' => [
		'config' => [
			'_isset' => ['', [], '', null],
		    '\Func\array_diff_kv' => ['', [], [], [], false],
		    'str_match' => ['', '//', '', null, false],
		],
		'load' => ['Variable', 'Arr', 'PCRE'],
	],
	'autoload' => null,
];
